body {
    font: 9pt "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

/* Format the labels for printing. */
.label {
    height: 16.9mm;
/*     text-align: center; */
    margin: .125in 0;
    width: 87.3mm;
}
    .label h4 {
        font-size: 11pt;
        font-weight: bold;
        margin: .125in 0;
    }
    .label p {
        margin: .125in 0;
        padding: 0;
    }
    .job-name {
/*         margin-right: .125in; */
    }
    .cabinet-name {
        
    }
    .part-thickness {
        
    }
    .part-material {
        
    }
    .part-name {
/*         float: left; */
/*         font-weight: bold; */
    }
    .part-size {
/*         float: right; */
    }
    
/* Hide the print toolbar. */
.page-tools {
    display: none;
}