/* print styles */
body {color: black; background: white;} */
A:link, A:visited {background: white; color: black; text-decoration: underline;
   font-weight: bold;}
H1, H2, H3 {background: white; color: black; padding-bottom: 1px;
   border-bottom: 1px solid gray;}
div#buttons {display: none;}
div.result { 
     display: block;
     position: relative;
     width: 90%; 
     margin-left: auto; 
     margin-right: auto; }
div.layout {
     visibility:visible;
     display: block;
     position: relative;
     width: 90%; 
     margin-left: auto; 
     margin-right: auto;
     page-break-inside: avoid}
div.graphicScreen {visibility:hidden; display:none;}
div.graphicPrint{
    visibility:visible;
    display: block;}

